html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.artist-page-background-container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.artist-page-background-style {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(5px);
    z-index: -1;
}

.artist-page-content {
    position: relative;
    z-index: 1;
    padding: 20px;
    text-align: center;
}

.artist-page-content-style {
    display: block;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
}

.artist-page-dark-block {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
}

.artist-page-song-group {
    display: flex;
    margin-bottom: 1rem;
}

.artist-page-song-group-header .text {
    font-size: 25px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-grow: 1; 
}

.artist-page-song-group-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.artist-page-button-style {
    display: flex;
    padding: 15px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    background-color: rgba(120, 120, 120, 0.5);
    border-radius: 5px;
}
  
.artist-page-button-style:hover {
    background-color: rgb(104, 104, 104);
}